section {
    padding-block: 1rem;
}

.hero {
    padding-inline: 1.5rem;
    padding-block: 2rem;
    background-color: var(--clr-primary-light);
    text-align: center;
}

.card-wrapper {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.card-wrapper .card {
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    margin-inline: auto;
    max-width: 100%;
    object-fit: cover;
}

.gallery {
    display: grid;
    gap: 1rem;
    padding-inline: 1rem;
}

.gallery-item img {
    border-radius: 0.25rem;
}

@media screen and (min-width: 425px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media screen and (min-width: 768px) {
    .gallery,
    .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    
}