.hero {
    padding-inline: 1.5rem;
    padding-block: 2rem;
    background-color: var(--clr-primary-light);
    text-align: center;
}

.card-wrapper {
    display: grid;
    gap: 1rem;
    padding-block: 1rem;
}

.card-wrapper .card {
    padding: 1rem;
    background-color: white;
    border-radius: 0 0.5rem 0.5rem 0;
    height: 100%;
    border-left: 2px solid var(--clr-dark);
}

img {
    margin-inline: auto;
    max-width: 100%;
    object-fit: cover;
}

.outer-wrapper {
    padding-inline: 1rem;
}

.grid-wrapper {
    display: grid;
    gap: 1rem;
}

.learn-more {
    max-width: fit-content;
    justify-self: center;
}

.gallery {
    display: grid;
    gap: 1rem;
    padding-inline: 1rem;
}

.gallery-item img {
    border-radius: 0.25rem;
}

.grid-wrapper .get-quote {
    background-color: var(--clr-primary);
    color: black;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    max-width: fit-content;
    justify-self: center;
}

.grid-wrapper .get-quote:hover {
    background-color: var(--clr-primary-dark);
}

.no-padding-top {
    padding-top: 0;
}

@media screen and (min-width: 425px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media screen and (min-width: 768px) {
    .gallery,
    .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    
}