/* HEADER & NAVIGATION */

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
    background-color: var(--clr-dark);
    padding: 1rem;
    border-bottom: 2px solid var(--clr-primary-dark);
}

header h3 {
    font-size: 1.125rem;
}

header span {
    font-size: 1.125rem;
    color: var(--clr-light);
}

header span:hover {
    opacity: 0.8;
}

.logo-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--clr-light);
}

.logo {
    display: none;
    max-width: 100px;
    border-radius: 2px;
}

.desktop-menu {
    display: none;
}

button.get-quote {
    background-color: var(--clr-primary);
    color: var(--clr-);
    border: 2px solid transparent;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

button.get-quote:hover {
    border: 2px solid var(--clr-primary-dark);
}

@media screen and (min-width: 425px) {
    header h3 {
        font-size: 1.375rem;
    }
    header span {
        font-size: 1.375rem;
        color: var(--clr-light);
    }
}

@media screen and (min-width: 800px) {
    header h3 {
        font-size: 1.5rem;
    }

    .mobile-menu {
        display: none;
    }

    .desktop-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    
    ul {
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    
    ul li a{
        font-size: 1.25rem;
        color: var(--clr-light);
        text-decoration: none;
    }

    ul li a:hover{
        color: white;
        text-decoration: underline;
        text-underline-offset: 0.25em;
    }
}

@media screen and (min-width: 1024px) {
    .logo {
        display: block;
        max-width: 150px;
    }

    .desktop-menu {
        gap: 2.5rem;
    }

    ul {
        gap: 2.5rem;
    }
}

/* DROPDOWN */

.dropdown-content {
    display: none;
    position: absolute;
    top: 3.5rem;
    right: 0;
    background-color: var(--clr-dark);
    border-radius: 0.25rem;
    border-top: 2px solid var(--clr-dark);
    border-left: 2px solid var(--clr-primary-dark);
    border-bottom: 2px solid var(--clr-primary-dark);
}

.dropdown-content a {
    font-size: 1.5rem;
    color: var(--clr-light);
    text-decoration: none; 
    padding: 1rem;  
    flex: 1;
}

.dropdown-content a:hover {
    background-color: var(--clr-primary-dark);
}

.dropdown-content .flex-wrapper {
    display: flex;
    text-align: end;
    flex-direction: column;
}

@media screen and (min-width: 425px) {
    .dropdown-content {
        top: 4rem;
    }
}

@media screen and (min-width: 800px) {
    .dropdown-content {
        display: none;
    }
}

/* POP UP */

.popup {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.popup .content {
    display: grid;
    gap: 1rem;
    justify-items: center;
    padding: 0;
}

.popup h2 {
    text-align: center;
    font-size: 1.25rem;
}

.popup a,
.popup .icon {
    font-size: 1rem;
}

.popup p {
    display: none;
}

.popup .contact {
    padding-bottom: 0;
}

.popup .form {
    flex: 0 1 350px;
}

.popup .form-wrapper {
    padding: 0;
    padding-inline: 0.5rem;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-primary-light);
    padding: 0.5rem;
    border: 1px solid #888;
    max-width: 95%;
    border-radius: 0.5rem;
}

.close {
    color: #aaaaaa;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--clr-dark);
    cursor: pointer;
}

@media screen and (min-width: 425px){
    .popup h2 {
        font-size: 1.5rem;
    }
    .popup a {
        font-size: 1rem;
    }
    .popup .content {
        justify-items: left;
    }
}

@media screen and (min-width: 768px){
    .popup p {
        display: block;
    }
    .popup h2 {
        text-align: left;
        font-size: 2rem;
    }
    .popup-content {
        padding: 1.5rem;
    }
}

/* CTA */

.cta {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    gap: 1.5rem;
}

#cta {
    padding-bottom: 0;
}

.cta .content{
    padding-inline: 1rem;
}

form {
    display: grid;
}

form input,
form textarea {
    border-radius: 4px;
    max-width: 100%;
}

form textarea {
    min-height: 8rem;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    padding-block: 2rem;
    padding-inline: 1rem;
    background-color: var(--clr-primary-light);
}

.form {
    flex: 0 1 350px;
}

.cta span {
    font-size: 1.5rem;
}

.cta a {
    color: var(--clr-dark);
    font-size: 1rem;
    text-underline-offset: 0.125em;
    text-decoration: underline 1px;
}

.cta a:hover {
    text-decoration: none;
}

.contact {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .cta {
        grid-template-columns: 1fr 1fr;
        max-width: 1024px;
        gap: 3rem;
    }

    #cta {
        padding-bottom: 2rem;
    }

    .cta .content{
        padding-inline: 0rem;
    }

    form input,
    form textarea {
        max-width: 440px;
    }

    .form-wrapper {
        border-radius: 0.5rem;
    }
}