.hero {
    padding-inline: 1.5rem;
    padding-block: 2rem;
    background-color: var(--clr-primary-light);
    text-align: center;
}

.card-wrapper {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.card-wrapper .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    grid-auto-flow: column;
    
}

.card:nth-child(even) {
    direction: rtl;
}

.card:nth-child(even) .card-content {
    direction: ltr;
}

.card-wrapper .card img {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 1rem;
}