.hero {
    padding-inline: 1.5rem;
    padding-block: 2rem;
    background-color: var(--clr-primary-light);
    text-align: center;
}

.card-wrapper {
    display: grid;
    gap: 1rem;
    padding-top: 1rem;
}

.card-wrapper .card {
    display: grid;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card:nth-child(even) {
    direction: rtl;
}

.card:nth-child(even) .card-content {
    direction: ltr;
}

.card-wrapper .card img {
    max-width: 100%;
    aspect-ratio: 16 / 10;
    overflow: hidden;
    object-fit: cover;
}

.card-content {
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .card-wrapper .card {
        grid-template-columns: 1fr 1fr;
    }

    .card-wrapper .card img {
        aspect-ratio: 1 / 1;
        height: 100%;
    }
}