:root{
    --clr-primary-light: hsl(30, 100%, 90%);
    --clr-primary: hsl(30, 100%, 50%);
    --clr-primary-dark: hsl(30, 100%, 35%);
    --clr-dark: hsl(240, 3%, 15%);
    --clr-light: hsl(0, 0%, 96%);
    --clr-box-shadow: hsla(240, 3%, 19%, 0.05);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--clr-dark);
    background-color: var(--clr-light);
}

.inner-wrapper {
    margin-inline: auto;
    max-width: 1440px;
    padding-inline: 1rem;
}

.thin-wrapper {
    margin-inline: auto;
    max-width: 1024px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

h1 {
    font-size: 2rem;
    line-height: 1.1;
}

h2, h3, h4 {
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p {
    line-height: 1.6;
    padding-block: 0.5rem;
}

img {
    max-width: 100%;
}

section {
    padding-block: 2rem;
}

button {
    border: 0;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

textarea {
    resize: none;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  margin-block: 0.5rem;
}

.alt-bg {
    background-color: var(--clr-primary-light);
}

button.get-quote {
    background-color: var(--clr-primary);
    color: black;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.learn-more {
    background-color: var(--clr-primary);
    color: black;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.learn-more:hover,
button.get-quote:hover {
    background-color: var(--clr-primary-dark);
}

@media screen and (min-width: 425px) {
    h1 {
        font-size: 3rem;
    }

    h2, h3, h4 {
        line-height: 1.4;
    }

    button.get-quote {
        font-size: 1.5rem;
    }
    
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }
}