:root{
    --clr-primary-light: hsl(30, 100%, 90%);
    --clr-primary: hsl(30, 100%, 50%);
    --clr-primary-dark: hsl(30, 100%, 35%);
    --clr-dark: hsl(240, 3%, 15%);
    --clr-light: hsl(0, 0%, 96%);
    --clr-box-shadow: hsla(240, 3%, 19%, 0.05);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--clr-dark);
    background-color: var(--clr-light);
}

.inner-wrapper {
    margin-inline: auto;
    max-width: 1440px;
    padding-inline: 1rem;
}

.thin-wrapper {
    margin-inline: auto;
    max-width: 1024px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

h1 {
    font-size: 2rem;
    line-height: 1.1;
}

h2, h3, h4 {
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p {
    line-height: 1.6;
    padding-block: 0.5rem;
}

img {
    max-width: 100%;
}

section {
    padding-block: 2rem;
}

button {
    border: 0;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

textarea {
    resize: none;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  padding-block: 0.25rem;
  margin-block: 0.5rem;
}

.alt-bg {
    background-color: var(--clr-primary-light);
}

@media screen and (min-width: 425px) {
    h1 {
        font-size: 3rem;
    }

    h2, h3, h4 {
        line-height: 1.4;
    }
    
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    .thin-wrapper {
        padding-inline: 1rem;
    }
}

/* HEADER & NAVIGATION */

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
    background-color: var(--clr-dark);
    padding: 1rem;
    border-bottom: 2px solid var(--clr-primary-dark);
}

header h3 {
    font-size: 1.125rem;
}

header span {
    font-size: 1.125rem;
    color: var(--clr-light);
}

header span:hover {
    opacity: 0.8;
}

.logo-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--clr-light);
}

.logo {
    display: none;
    max-width: 100px;
    border-radius: 2px;
}

.desktop-menu {
    display: none;
}

button.get-quote {
    background-color: var(--clr-primary);
    color: var(--clr-);
    border: 2px solid transparent;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

button.get-quote:hover {
    border: 2px solid var(--clr-primary-dark);
}

@media screen and (min-width: 425px) {
    header h3 {
        font-size: 1.375rem;
    }
    header span {
        font-size: 1.375rem;
        color: var(--clr-light);
    }
}

@media screen and (min-width: 800px) {
    header h3 {
        font-size: 1.5rem;
    }

    .mobile-menu {
        display: none;
    }

    .desktop-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    
    ul {
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    
    ul li a{
        font-size: 1.25rem;
        color: var(--clr-light);
        text-decoration: none;
    }

    ul li a:hover{
        color: white;
        text-decoration: underline;
        text-underline-offset: 0.25em;
    }
}

@media screen and (min-width: 1024px) {
    .logo {
        display: block;
        max-width: 150px;
    }

    .desktop-menu {
        gap: 2.5rem;
    }

    ul {
        gap: 2.5rem;
    }
}

/* HERO */

.hero {
    background-color: hsla(0, 0%, 0%, 0.5);
    background-image: url(../images/scaf-under-bridge-2.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: bottom;
    color: whitesmoke;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero p {
    font-size: 1.25rem;
    padding-bottom: 2rem;
}

.get-quote {
    background-color: var(--clr-primary);
    color: var(--clr-light);
    border-radius: 0.25rem;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
}

@media screen and (min-width: 425px) {
    .hero {
        padding-inline: 1.5rem;
    }

    .get-quote {
        font-size: 1.5rem;
        padding: 1rem 1.5rem;
    }

    .hero p {
        font-size: 1.5rem;
    }
}

/* SERVICES */

.services {
    display: grid;
    gap: 1.5rem;
}

.services h2 {
    text-align: center;
    padding-block: 0.5rem;
}

.service-card {
    display: flex;
    flex-direction: column;
    border: 1px solid hsla(240, 3%, 19%, 0.2);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0.25rem 1rem 0.5rem var(--clr-box-shadow);
}

.service-card img {
    max-width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.service-card div {
    padding: 1rem;
}

@media screen and (min-width: 480px) {
    .service-card {
        flex-direction: row;
    }

    .service-card img {
        max-width: 50%;
    }
}


@media screen and (min-width: 800px) {
    .services {
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }

    .services h2 {
        grid-column: 1 / 3;
    }
}

/* ABOUT US */

.about-us {
    display: grid;
    justify-content: center;
    margin-inline: auto;
    padding-bottom: 0;
}

.about-us .content {
    margin-inline: auto;
    max-width: 75ch;
}

.about-us img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 0.125rem;
}

/* TESTIMONIAL */

.testimonial-card {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
    margin: auto;
    text-align: center;
}

.testimonial-card img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    width: 6rem;
}

.testimonial-card blockquote {
    font-style: italic;
    font-size: larger;
    padding-bottom: 0.25rem;
}

@media screen and (min-width: 425px) {
    .testimonial-card {
        flex-wrap: initial;
        text-align: left;
    }
}

@media screen and (min-width: 600px) {
    .testimonial-card img {
        width: 8rem;
    }
}

/* SERVICES */

.benefits-card {
    padding: 1rem;
    background-color: white;
    border-radius: 0 0.5rem 0.5rem 0;
    height: 100%;
    border-left: 2px solid var(--clr-dark);
}

.card-wrapper {
    grid-column: 1 / -1;
}

.benefits h2 {
    text-align: center;
    grid-column: 1 / -1;
}

.benefits h3 {
    padding-bottom: 0.25rem;
}

.benefits img {
    height: 100%;
    object-fit: cover;
    display: none;
    border-radius: 0.125rem;
}

@media screen and (min-width: 768px) {
    .benefits .inner-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .benefits img {
        grid-row-start: 2;
        display: block;
    }

    .card-wrapper {
        grid-column: 2 / -1;
    }
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* CTA */

.cta {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    gap: 1.5rem;
}

.cta .content{
    padding-inline: 1rem;
}

form {
    display: grid;
}

form input,
form textarea {
    border-radius: 4px;
    max-width: 100%;
}

form textarea {
    min-height: 8rem;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    padding-block: 2rem;
    padding-inline: 1rem;
    background-color: var(--clr-primary-light);
}

.form {
    flex: 0 1 350px;
}

.cta span {
    font-size: 1.5rem;
}

.cta a {
    color: var(--clr-dark);
    font-size: 1rem;
    text-underline-offset: 0.125em;
    text-decoration: underline 1px;
}

.cta a:hover {
    text-decoration: none;
}

.contact {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .cta {
        grid-template-columns: 1fr 1fr;
        max-width: 1024px;
        gap: 3rem;
    }

    .cta .content{
        padding-inline: 0rem;
    }

    form input,
    form textarea {
        max-width: 440px;
    }

    .form-wrapper {
        border-radius: 0.5rem;
    }
}

/* FOOTER */

footer {
    border-top: 2px solid var(--clr-primary-dark);
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding-bottom: 2rem;
}

footer .contact {
    font-weight: bold;
    font-size: 1.125rem;
}

footer a {
    color: var(--clr-light);
    text-decoration: none;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-block: 1rem;
    gap: 1rem;
}

.services-grid > * {
    text-align: center;
    padding-block: 1rem;
    padding-inline: 0.25rem;
    border: 2px solid var(--clr-light);
    border-radius: 0.5rem;
    flex: 1 1 200px;
}

.contact-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-block: 2rem;
}

footer h4 {
    font-size: 0.75rem;
    font-weight: lighter;
    text-align: center;
}

/* POP UP */

.popup {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.popup .content {
    display: grid;
    gap: 1rem;
    justify-items: center;
    padding: 0;
}

.popup h2 {
    text-align: center;
    font-size: 1.25rem;
}

.popup a,
.popup .icon {
    font-size: 1rem;
}

.popup p {
    display: none;
}

.popup .contact {
    padding-bottom: 0;
}

.popup .form {
    flex: 0 1 350px;
}

.popup .form-wrapper {
    padding: 0;
    padding-inline: 0.5rem;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-primary-light);
    padding: 0.5rem;
    border: 1px solid #888;
    width: 90%;
    border-radius: 0.5rem;
}

.close {
    color: #aaaaaa;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--clr-dark);
    cursor: pointer;
}

@media screen and (min-width: 425px){
    .popup h2 {
        font-size: 1.5rem;
    }
    .popup a {
        font-size: 1rem;
    }
    .popup .content {
        justify-items: left;
    }
}

@media screen and (min-width: 768px){
    .popup p {
        display: block;
    }
    .popup h2 {
        text-align: left;
        font-size: 2rem;
    }
    .popup-content {
        padding: 1.5rem;
    }
}

/* DROPDOWN */

.dropdown-content {
    display: none;
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: var(--clr-dark);
    border-radius: 0.25rem;
    border-top: 2px solid var(--clr-dark);
    border-left: 2px solid var(--clr-primary-dark);
    border-bottom: 2px solid var(--clr-primary-dark);
}

.dropdown-content a {
    font-size: 1.5rem;
    color: var(--clr-light);
    text-decoration: none; 
    padding: 1rem;  
    flex: 1;
}

.dropdown-content a:hover {
    background-color: var(--clr-primary-dark);
}

.dropdown-content .flex-wrapper {
    display: flex;
    text-align: end;
    flex-direction: column;
}

@media screen and (min-width: 800px) {
    .dropdown-content {
        display: none;
    }
}